

  .PaddingDiv {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
  }
  .tableResponsive {
    font-size: 100%;
    border-radius: 10px;

  }
  .pagingDiv {
    display: flex;
    justify-content: center;
  }
  .paging {
    font-size: 80%;
    width: 50px;
  }
