.content {
  background-color: #f1f1f1;
  border: 150px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 3%;
}
.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
