

  .PaddingDiv {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
  }
  .tableResponsive {
    font-size: 100%;
    border-radius: 10px;

  }
  .pagingDiv {
    display: flex;
    justify-content: center;
  }
  .paging {
    font-size: 80%;
    width: 50px;
  }

  .styleCheckBox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 100px;
    
  }
  
  /* Hide the browser's default checkbox */
  .styleCheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: #b4b4b4;
  }
  
  /* On mouse-over, add a grey background color */
  .styleCheckBox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .styleCheckBox input:checked ~ .checkmark {
    background-color: #198CFF;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .styleCheckBox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .styleCheckBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .searchTerm{
    font-size: 16px;
    width: 40%;
    height:45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #ccc;
  }
  .searchButton{
    height: 45px;
    margin-top:10px;
    width: 50px;
    border-style: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-style: none;
    background-color: #4487E3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }